.accordionTrigger {
  border-bottom: solid 1px var(--gray-5);
}

.jsonEditor {
  font-family: var(--default-font-family);
}

.accordionNoBorder {
  border: none;
  box-shadow: none;
}

.accordionNoBorder::before,
.accordionNoBorder::after {
  content: none;
  display: none;
}
